@media (max-width: 1440px) {
  .analytics-title{
    padding: 1rem;
  }
  .analytics-prices {
    padding: 0 1rem;
    padding-top: 1.5rem;
  }

  .analytics-prices .analytics-subtitle {
    font-size: clamp(1.4rem, 1.4vw, 1.5rem);
  }

  .analytics-chart-area {
    min-width: 900px;
  }
}
@media (max-width: 1280px) {
  .analytics-prices {
    padding-top: 1.2rem;
  }

  .analytics-prices .analytics-subtitle {
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
  }

  .analytics-chart-area {
    min-width: 850px;
  }
}
@media (max-width: 1024px) {
  .analytics-prices {
    padding-top: 1rem;
  }

  .analytics-prices .analytics-subtitle {
    text-align: center;
  }

  .analytics-chart-area {
    min-width: 780px;
  }

  .prices-chart-container {
    padding-bottom: 0.8rem;
  }
}/* ==========================================================
   MOBILE (max-width: 768px) 
========================================================== */
@media (max-width: 768px) {
  .analytics-prices .analytics-subtitle {
    text-align: center;
    font-size: clamp(1rem, 4vw, 1.3rem);
    padding: 1.5rem 1.25rem 1.75rem;
  }

  .analytics-chart-area {
    min-width: 750px;      
    padding: 0 0.5rem;    
  }

  .analytics-chart-area canvas {
    height: 480px !important;  
  }

  .prices-chart-container {
    margin-bottom: 1.5rem;
  }
}
