/* =========================================================
   HERO — Laptop (max-width: 1440px)
========================================================= */
@media (max-width: 1600px) {
  .big-letter {
    left: 6%;
  }

  .hero-text {
    margin-left: 10%;
  }
}

/* =========================================================
   HERO — Tablet (max-width: 1161px)
========================================================= */
@media (max-width: 1161px) {
  .hero {
    justify-content: center;
    text-align: center;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-letter {
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
    font-size: clamp(8rem, 45vw, 26rem);
  }

  .hero-text {
    margin-left: 0;
    max-width: 82%;
  }

  .hero-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 2.9rem;
  }

  .hero-line {
    width: 100%;
    margin: 5px auto;
  }

  .hero-subtitle {
    font-size: 0.95rem;
    letter-spacing: 0.07em;
  }
}

/* =========================================================
   HERO — Mobile (max-width: 600px)
========================================================= */
@media (max-width: 600px) {
  .hero {
    padding-top: 4rem;
  }

  .big-letter {
    top: 50%;
    left: 50%;
    opacity: 0.2;
    font-size: 45dvh;
    transform: translate(-50%, -50%);
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-title {
    font-size: 2rem;
    letter-spacing: 0.22em;
  }

  .hero-subtitle {
    font-size: 0.85rem;
    letter-spacing: 0.04em;
    line-height: 1.4;
  }
}

/* =========================================================
   HERO — Small Mobile (max-width: 380px)
========================================================= */
@media (max-width: 380px) {
  .hero-title {
    font-size: 2rem;
    letter-spacing: 0.14em;
  }

  .hero-subtitle {
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: 1.4;
  }

  .hero-line {
    width: 70%;
    margin-bottom: 10px;
  }
}

/* =========================================================
   HERO — Short Screens (max-height)
========================================================= */

@media (max-height: 750px) {
  .big-letter {
    font-size: 30dvh;
  }
  .hero-title {
    font-size: 2.2rem;
  }
  .hero-subtitle {
    font-size: 0.85rem;
  }
}

@media (max-height: 600px) {
  .hero {
    padding-top: 1.5rem;
  }
  .big-letter {
    font-size: 25dvh;
    opacity: 0.15;
  }
  .hero-title {
    font-size: 1.9rem;
  }
  .hero-subtitle {
    font-size: 0.8rem;
  }
  .hero-line {
    width: 60%;
  }
}

@media (max-height: 500px) {
  .hero-title {
    font-size: 1.6rem;
  }
  .hero-subtitle {
    font-size: 0.75rem;
  }
  .big-letter {
    font-size: 20dvh;
  }
}
 
