/* =========================================================
   PARTNERS — LAPTOP & BELOW (max-width: 1400px)
========================================================= */
@media (max-width: 1400px) {

  .partners-map__subtitle{
   text-align: center;
  }
  .partners-map__logos {
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    mask-image: linear-gradient(
      to right,
      transparent 0px,
      black 80px,
      black calc(100% - 80px),
      transparent 100%
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }
  .partners-map__logos a img {
    filter: none !important;
  }
  .partners-map__logos a::after {
    display: none !important;
  }

  .grid-container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    justify-items: center;
    padding-bottom: 1rem;
  }

  .partners-map__map img {
    max-width: min(60vw, 520px);
  }

  .partners-map__logos {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;

    max-width: min(70vw, 900px);
    overflow-x: auto;

    padding: 0.75rem 0;

    scroll-snap-type: x mandatory;
  }

  .partners-map__logos a {
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  .partners-map__logos a img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

/* =========================================================
   PARTNERS — TABLET (max-width: 992px)
========================================================= */
@media (max-width: 992px) {
  .partners-map__logos {
    max-width: 90vw;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .partners-map__logos a {
    flex: 0 0 auto;
  }

  .partners-map__logos a img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 10px;
  }

  .partners-map__logos::-webkit-scrollbar {
    height: 10px;
  }
}

/* =========================================================
   PARTNERS — MOBILE (max-width: 600px)
========================================================= */
@media (max-width: 600px) {
  .partners{
    padding: 1rem 1rem;
  }
   
  .partners-map__logos {
    max-width: 100vw;
    gap: 1rem;
    padding-bottom: 1.2rem;
  }

  .partners-map__logos a {
    flex: 0 0 auto;
  }

  .partners-map__logos a img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 8px;
  }

  .partners-map__logos::-webkit-scrollbar {
    height: 10px;
  }
    .grid-container{
      padding-bottom: 0;
    }
}

/* =========================================================
   PARTNERS — SMALL MOBILE (max-width: 380px)
========================================================= */
@media (max-width: 380px) {
 
  .partners-map__logos {
    max-width: 100vw;
    gap: 0.8rem;
  }

  .partners-map__logos a {
    flex: 0 0 auto;
  }

  .partners-map__logos a img {
    width: 90px;
    height: 90px;
  }
}
