/* ==============================
   NOTEBOOK ( 1280px)
============================== */
@media (max-width: 1280px) {
  .podcast {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.podcast-episodes {

  width: 95vw;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
}

.episode-card {
  min-width: 220px;
  scroll-snap-align: start;
}

.episode-card img {
  height: 150px;
}

.podcast-episodes::-webkit-scrollbar {
  height: 6px;
}

.podcast-episodes::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #c8a86e, #e5d3aa);
  border-radius: 10px;
}

/* ==============================
   TABLET ( 900px)
============================== */
@media (max-width: 900px) {
  .podcast-block {
    grid-template-columns: 1fr;
    gap: 35px;
  }
  .podcast-title {
    text-align: center;
  }
  .podcast-text p {
    margin: 0 auto;
    max-width: 80%;
    font-size: 1rem;
  }

  .podcast-card {
    margin: 0 auto;
    transform: scale(0.92);
  }

  .podcast-episodes {
    width: 95vw;
    margin: 2rem auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 12px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .episode-card {
    min-width: 180px;
    scroll-snap-align: start;
  }

  .episode-card img {
    height: 140px;
  }

  .podcast-episodes::-webkit-scrollbar {
    height: 2px;
  }

  .podcast-episodes::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #c8a86e, #e5d3aa);
  }
}

/* ==============================
   MOBILE ( 600px)
============================== */
@media (max-width: 600px) {
  .podcast-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
    gap: 24px;
    text-align: center;
  }

  .podcast-text p {
    max-width: 90%;
    font-size: 1rem;
    line-height: 1.55;
  }

  .podcast-title {
    font-size: clamp(26px, 7vw, 34px);
    text-align: center;
  }

  .podcast-episodes {
    width: 95vw;
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .episode-card {
    min-width: 160px;
    scroll-snap-align: start;
  }
}
