/* ===============================
   DIGNISI — HERO BLOCK
==================================*/

/* Основной контейнер hero */
.hero {
  background: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}
.hero-text {
  max-width: calc(100% - 10%);
  margin-left: 8%;
}

/* Огромная буква — D декоративный элемент */
.big-letter {
  position: absolute;
  left: 9%;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(10rem, 35vw, 35rem);
  font-weight: 300;
  font-family: serif;
  color: var(--text_color_dark_gold);
  text-shadow: 1px 1px 2px var(--text_color_gold);
  pointer-events: none;
  user-select: none;
}

/* Заголовок */
.hero-title {
  font-size: 3.5rem;
  letter-spacing: 0.36em;
  color: var(--text_color_gold);
  font-weight: 300;
}
.hero-line {
  width: calc(100% - 10%);
  height: 1px;
  border: none;
  background-color: var(--text_color_gold);
  margin: 1.25rem 0 0.25rem;
}

.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--text_color_gold);
  font-weight: 200;
}

/* ===========================================
   ABOUT COMPANY / MOBILE APP BLOCK
=========================================== */

.block-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-logo img {
  width: 8rem;
  max-width: 140px;
  height: auto;
}

.block-menu ul {
  display: flex;
  gap: 2rem;
}

.block-menu a {
  color: var(--text_color_gold);
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0.05em;
  transition: color 0.3s ease;
  &:hover {
    color: var(--text_color_dark_gold);
  }
}

.about-title span {
  font-family: "Playfair Display", serif;
  display: block;
  &:first-child {
    font-size: 2.8rem;
    letter-spacing: 0.1em;
  }
  &:last-child {
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    color: var(--text_color_gold);
  }
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-image img {
  position: absolute;
  bottom: 0;
  right: 3%;
  height: auto;
  max-height: 85dvh;

  z-index: 1;
}

/* Text */
.about-text {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 2rem;
  max-width: 70%;
  margin-top: 1.5rem;
}

.about-text .col_left,
.about-text .col_right {
  flex: 1;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 1rem;

  font-weight: 200;
}
.about-text .col_right {
  color: var(--text_color_gold);
}

.about-quote {
  font-style: italic;
  color: var(--text_color_gold);
}

/* ===========================================
   ABOUT COMPANY / MOBILE APP BLOCK END
=========================================== */

/* ===========================================
   HISTORY BLOCK +
=========================================== */
.history {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Vardan.jpg");
  background-size: 150%;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  background-color: black;
}

.history-content {
  display: flex;
  justify-content: space-between;
}

.history-text {
  width: 25%;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.history-title {
  font-size: 3.5rem;
  text-align: center;
  color: var(--text_color_gold);
}
.history-quote {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* ===========================================
   HISTORY BLOCK END
=========================================== */

/* ===========================================
   PARTNERS BLOCK
=========================================== */
.partners {
  padding-top: var(--root_padding_top);
  background-color: #1c1919;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
}

.partners-map__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
}

.partners-map__logos {
  img {
    border: 1px solid #000;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.partners-map__map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-map__map img {
  max-width: 70%;
  height: auto;
  display: block;
}

.partners-map__subtitle {
  grid-column: 1 / -1;
  text-align: left;
  font-size: 0.9rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--text_color_gold);
}

.partners-map__logos a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.partners-map__logos a img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s ease;
  filter: brightness(70%);
}

.partners-map__logos a::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 1;
  transition: 0.3s ease;
}

/* эффект при наведении */
.partners-map__logos a:hover img {
  filter: brightness(100%);
  transform: scale(1.07);
}

.partners-map__logos a:hover::after {
  opacity: 0;
}

/* ===========================================
   PARTNERS BLOCK END
=========================================== */

/* ===========================================
   LOYALTY  BLOCK 
=========================================== */
.loyalty-card {
  padding-top: var(--root_padding_top);
}

.loyalty-display {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  z-index: 10;
  background: linear-gradient(
      to right,

      rgb(0, 0, 0),
      rgba(87, 74, 74, 0)
    ),
    url(../images/loyalty-card/d.png);

  background-size: 70% auto;
  background-position: 100% center;
  background-repeat: no-repeat;
}

.left-block,
.right-block {
  width: 27rem;
}
.left-block__text {
  text-align: justify;
  flex: 1;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 1rem;

  font-weight: lighter;
}

.left-block__title {
  text-align: center;
  color: var(--text_color_gold);
  font-size: calc(0.5rem + 4vw);
  font-family: "Playfair Display", serif;
  font-weight: 200;
  line-height: 1;
  padding: 2rem 0;
  letter-spacing: 0.2em;
  filter: drop-shadow(2px 5px 50px var(--text_color_gold));
}

.right-block img {
  filter: drop-shadow(100px 0 70px #858585);
}

/* ===========================================
   LOYALTY BLOCK END
=========================================== */

/* ===========================================
   PODCAST BLOCK  
=========================================== */

.podcast {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.podcast-text {
  padding-top:  var(--root_padding_top);
  padding-left:  var(--root_padding);
}
.podcast-text {
  max-width: 60%;
  text-align: justify;
}

.podcast-image {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: auto;
  max-height: 60dvh;
}
.podcast-image img {
  width: 100%;
  height: 100%;
}

/* ===========================================
   PODCAST BLOCK END
=========================================== */

/* ===========================================
   ANALYTICS BLOCK 
=========================================== */
.analytics .block-nav {
  padding: var(--root_padding_top) 0;
}
.analytics-title {
  display: flex;
  justify-content: end;
  color: var(--text_color_gold);
  font-weight: 100;
}

.analytics-intro {
  margin-bottom: 2rem;
  & :last-child {
    color: var(--text_color_gold);
  }
}

.analytics-graph {
  display: flex;
}

.analytics-list {
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.analytics-list li {
  list-style: disc;
  font-size: 1rem;
  color: white;
}

.analytics-sublist {
  margin-left: 2.5rem;
  margin-bottom: 3rem;
}

.analytics-sublist li {
  list-style: circle;
  margin-bottom: 0.5rem;
}

.analytics-note {
  width: 50%;
}

.analytics-note hr {
  border: none;
  height: 1px;
  width: 100%;
  background: var(--text_color_gold);
  margin: 1.5rem 0;
}

/* RIGHT SIDE — CHART */
.analytics-chart {
  width: 100%;
  height: auto;
}

/* ===========================================
      analytics-chart
=========================================== */

.analytics-chart {
  width: 100%;
  height: 420px;
  position: relative;
}

#salesChart {
  width: 100% !important;
  height: 100% !important;
}

.chart-years {
  position: absolute;
  top: -40px;
  left: 20px;
  right: 0;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  color: #cbb488;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  pointer-events: none;
}
.chart-years span {
  opacity: 0.9;
}

/* ===========================================
    analytics-chart END
=========================================== */
/* ===========================================
   ANALYTICS BLOCK END
=========================================== */

/* ===========================================
   ANALYTICS DETAILS BLOCK   
=========================================== */

.analytics-details-display {
  display: flex;
  flex-direction: column;
}

.analytics-details-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & P {
    width: 50%;
  }
}

/* ===========================================
   ANALYTICS DETAILS BLOCK END
=========================================== */

/* ===========================================
    block analytics-prices
=========================================== */

.prices-chart-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
}

.prices-chart-container {
  min-width: 1100px;
  height: 520px;
  position: relative;
}

#pricesChart {
  width: 100% !important;
  height: 100% !important;
}

/* ===========================================
    block analytics-prices END
=========================================== */

/* ===========================================
    block analytics-regional-share
=========================================== */
.chart-sales {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    text-align: center;
  }
}

/* ===========================================
    block analytics-regional-share END
=========================================== */

/* ===========================================
   block vision-mission
=========================================== */
.vision-mission {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)),
    url(../images/vision-mission/Mission.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.vision-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & .vision-right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* ===========================================
   block vision-mission END
=========================================== */
