/* =======================================
   BASE TYPOGRAPHY SETTINGS
======================================= */
html {
  font-size: clamp(14px, 1.2vw, 18px);
}

:root {
  --text_color_gold: #cbb488;
  --text_color_dark_gold: #514836;
  --root_padding: 9.25rem; /* = 20px */
  --root_padding_top: 3.5rem; /* = 50px */
}
 


/* =======================================
   FULLSCREEN BLOCKS
======================================= */
.block {
  min-height: 100vh; /* fallback */
  min-height: 100dvh; /* mobile-correct */
  padding: 0 var(--root_padding);
  
  background-color: black;
  color: white;

 
}



.display-block{
  display: block;

}
 