html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  min-width: 0;
}

body, h1, h2, h3, h4, h5, h6,
p, ul, ol, li, figure, figcaption,
blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  height: 100%;
}

img, picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
